html {
	scroll-behavior: smooth;
}

h1 {
	font-weight: 500;
}

a {
	color: #FFF;
}

body {
	padding: 0 90px;
	background-color: #1A1A1A;
	color: #FFFFFF;
	font-family: Roboto;
}

main {
	min-height: calc(100vh - 452px);
}

body.admin-bar main {
	min-height: calc(100vh - 452px - 32px);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 20px 0;
}

.logo {
	width: 190px;
	height: 63px;
	background-image: url(../img/Q-Roll--light.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu-item:hover {
	box-shadow: 0px 15px 1px -8px #FCC12C;
}

.menu-item > a, .menu-category > a {
	display: block;
	color: #FFFFFF;
	text-decoration: none;
}

.current-menu-item > a {
	color: #FCC12C;
}

#menu-glavnoe-menyu {
	display: flex;
	gap: 70px;
}

.menu-categories-container {
	text-align: center;
}

#menu-categories {
	position: fixed;
	left: 0;
	top: 130px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 6px;
}

.menu-category > a {
	display: flex;
	align-items: center;
	gap: 12px;

	padding: 6px 15px;
	background: #282828;
	border-radius: 0 15px 15px 0;

	transition: .3s;
}

.menu-category > a:hover {
	background-color: #3E3E3E;
}

.menu-category > a::before {
	content: '';
	display: block;
	width: 34px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.menu-category-19 > a::before {
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='36' viewBox='0 0 40 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.2188 6.28905L15.625 11.8281L15.0625 11.2344C14.1172 10.2422 13.0859 9.60937 11.7422 9.1953C11.1172 9.0078 10.9375 8.98437 9.76563 8.98437C8.64844 8.97655 8.39063 8.99999 7.85938 9.15624C5.13281 9.9453 3.125 12.0703 2.57031 14.7578C2.38281 15.6641 2.35938 17.8203 2.53906 18.4922C2.89844 19.8906 4.01563 21.0781 5.38281 21.5312C5.875 21.6953 6.05469 21.7031 9.08594 21.7344C12.0391 21.7578 12.2734 21.7734 12.2266 21.8906C11.8359 22.8125 11.6406 23.9375 11.6406 25.2656C11.6406 26.625 11.7344 26.9844 12.4063 28.3281C12.4219 28.3672 9.77344 28.3906 6.53125 28.3906H0.625L0.328125 28.6562L0.0390625 28.9219L0.015625 30.1797C-0.0078125 31.2344 0.0078125 31.4766 0.125 31.7109C0.351563 32.1953 0.476563 32.2187 2.53906 32.2187H4.375V33.3516C4.375 34.5859 4.42969 34.7969 4.8125 35.1016C5.01563 35.2656 5.08594 35.2656 8.78125 35.2656C13.0156 35.2656 12.8906 35.2812 12.8906 34.7266C12.8906 34.5234 12.8359 34.3828 12.7266 34.2812C12.5703 34.1406 12.375 34.1328 9.05469 34.1094L5.53906 34.0859L5.5625 33.1719L5.58594 32.2578L16.4766 32.2344C26.4766 32.2187 27.3828 32.2109 27.5156 32.0859C27.7188 31.9062 27.7031 31.4297 27.4922 31.2344C27.3281 31.0859 26.9844 31.0859 14.25 31.0625L1.17188 31.0469V30.3047V29.5625H20H38.8281V30.3047V31.0391L34.2266 31.0625C29.8281 31.0859 29.6172 31.0937 29.4609 31.2344C29.25 31.4297 29.2344 31.9062 29.4375 32.0859C29.5625 32.2031 29.8828 32.2187 32 32.2344L34.4141 32.2578L34.4375 33.1719L34.4609 34.0937L24.6563 34.1094C15.1484 34.1328 14.8516 34.1406 14.6953 34.2812C14.5859 34.3828 14.5313 34.5234 14.5313 34.7266C14.5313 35.3047 13.7031 35.2656 24.9297 35.2656H34.9766L35.1875 35.1016C35.5703 34.7969 35.625 34.5859 35.625 33.3516V32.2187H37.4609C39.5234 32.2187 39.6484 32.1953 39.875 31.7109C39.9922 31.4766 40.0078 31.2344 39.9844 30.1797L39.9609 28.9219L39.6719 28.6562L39.375 28.3906H37.4688H35.5625L35.8281 27.8984C36.2813 27.0391 36.3516 26.6094 36.3047 24.9141C36.2813 23.8828 36.2266 23.2891 36.1406 22.9609C35.8047 21.7422 35.1406 20.4609 34.7891 20.375C34.5 20.2969 34.1953 20.4297 34.0781 20.6797C33.9844 20.8828 34.0078 20.9531 34.4063 21.7734C35.0156 23 35.0938 23.3359 35.1328 24.9297C35.1797 26.7109 35.0469 27.2109 34.2656 28.0547L33.9609 28.3906H29.7891C27.4922 28.3906 25.625 28.3594 25.6406 28.3281C25.6563 28.2891 25.7891 27.9922 25.9375 27.6641L26.2109 27.0625H29.2188C32.1875 27.0625 32.2344 27.0625 32.5781 26.8906C33.1172 26.6094 33.2031 26.3594 33.2031 25.1484C33.2031 23.5312 32.8906 22.6719 31.9609 21.7422C30.3672 20.1484 27.8984 20.0703 26.1953 21.5547L25.7969 21.9062L25.6016 21.5C25.5 21.2734 25.2813 20.8984 25.125 20.6641C24.9688 20.4297 24.8516 20.1953 24.875 20.1406C24.9453 19.9609 26.0156 19.2656 26.6172 19.0156C27.5313 18.6328 28.1719 18.5234 29.2578 18.5703C30.3281 18.6172 30.9453 18.7734 31.875 19.2578C32.2031 19.4219 32.5625 19.5625 32.6797 19.5625C33 19.5625 33.2188 19.3047 33.1875 18.9531C33.1641 18.7031 33.1094 18.6328 32.7734 18.4062C32.1953 18.0312 31.3047 17.6875 30.4688 17.5156C29.5859 17.3281 27.9922 17.3516 27.2344 17.5625C26.1328 17.8672 25.1563 18.3672 24.3672 19.0234L24.0078 19.3203L23.7031 19.0625C22.9219 18.4062 21.9609 17.8984 20.9297 17.6094C19.9453 17.3281 17.9297 17.3125 17.2266 17.5859C17.1172 17.625 17.1016 17.5625 17.125 17.2187L17.1484 16.8125L20.1953 15.0547C24.5703 12.5312 26.0391 11.6797 32.0234 8.22655C36.1172 5.86718 37.3984 5.09374 37.5156 4.91405C37.7578 4.51562 37.6953 4.21874 37.2109 3.35937C36.1797 1.52343 35.7891 0.921867 35.5859 0.828117C35.0547 0.58593 35.3516 0.421867 25.2188 6.28905ZM35.2656 2.31249C35.375 2.49999 35.4063 2.62499 35.3516 2.67187C35.3047 2.71093 31.1406 5.1328 26.0938 8.03905C21.0469 10.9531 16.8359 13.3906 16.7422 13.4453C16.5859 13.5547 16.5625 13.5391 16.4141 13.1875C16.3203 12.9844 16.2578 12.8125 16.2656 12.8047C16.2813 12.7969 16.6563 12.5781 17.1094 12.3203C20.125 10.6016 34.8203 2.10937 34.8828 2.05468C34.9922 1.9453 35.0859 2.0078 35.2656 2.31249ZM36.2422 4.01562L36.4141 4.3203L36.2344 4.42968C35.9766 4.59374 35.8203 4.67968 22.9844 12.0937C16.6094 15.7734 11.3281 18.7812 11.25 18.7812C11.0859 18.7812 10.8594 18.5859 10.8594 18.4297C10.8594 18.375 10.9219 18.2578 11 18.1719C11.0703 18.0859 13.0156 16.9375 15.3125 15.6094C20.25 12.7734 20.1172 12.8437 27.9688 8.31249C31.3438 6.36718 34.5078 4.53124 35 4.24218C35.4922 3.95312 35.9375 3.71093 35.9844 3.71093C36.0313 3.70312 36.1406 3.84374 36.2422 4.01562ZM11.1484 10.2656C13 10.7109 14.5 11.9219 15.3047 13.625L15.5391 14.125L15.1328 14.3672C14.9063 14.5 14.5313 14.7187 14.2891 14.8594L13.8516 15.1094L13.5156 14.4375C12.7734 12.9375 11.3906 12.0625 9.76563 12.0625C7.82813 12.0625 6.15625 13.3672 5.66406 15.2422C5.58594 15.5312 5.54688 16.0625 5.54688 16.75C5.54688 17.9844 5.63281 18.2187 6.19531 18.4687C6.48438 18.6016 6.71094 18.625 8.10156 18.625H9.67969L9.86719 19.0469C10.1484 19.6562 10.5547 19.9141 11.25 19.9141H11.7656L13.8281 18.7266C14.9688 18.0781 15.9063 17.5547 15.9141 17.5625C15.9297 17.5781 15.9063 17.7734 15.8594 18.0078C15.625 19.2578 14.6172 20.2656 13.3672 20.5C12.7813 20.6094 6.60938 20.6016 6.07813 20.4922C5.13281 20.2969 4.25 19.5937 3.84375 18.7187C3.64063 18.2812 3.63281 18.2422 3.63281 16.7109C3.63281 14.9766 3.71094 14.5469 4.25781 13.4687C5.10156 11.7969 6.74219 10.5625 8.60156 10.1953C9.25 10.0703 10.4688 10.1016 11.1484 10.2656ZM10.9375 13.4766L11.3672 13.6719L10.4688 14.2734L9.57031 14.875L9.10156 14.6797C8.73438 14.5312 8.49219 14.4844 7.99219 14.4844C7.63281 14.4844 7.34375 14.4531 7.34375 14.4141C7.34375 14.3125 8.03125 13.7109 8.32031 13.5625C9.07031 13.1719 10.1953 13.1328 10.9375 13.4766ZM12.4766 14.9531C12.5781 15.1484 12.6719 15.4062 12.6953 15.5391C12.7344 15.7656 12.7188 15.7891 11.9063 16.2422C10.9141 16.8047 10.9375 16.7969 10.9375 16.6484C10.9375 16.5859 10.8359 16.3359 10.7109 16.1016L10.4844 15.6719L11.3125 15.1172C11.7734 14.8125 12.1875 14.5703 12.2266 14.5859C12.2734 14.6016 12.3828 14.7656 12.4766 14.9531ZM8.73438 15.7812C9.28125 16.0078 9.78906 16.6484 9.85156 17.1797L9.88281 17.4141L8.30469 17.4375L6.71875 17.4531V16.5547V15.6562H7.57813C8.17969 15.6562 8.53125 15.6953 8.73438 15.7812ZM20.7422 18.7812C22.7813 19.4297 24.2656 20.9062 24.9219 22.9609C25.0703 23.4141 25.1094 23.7344 25.1406 24.8828C25.1875 26.7109 25.0469 27.2109 24.2656 28.0547L23.9609 28.3906H19.0156H14.0703L13.7656 28.0937C13.0078 27.3672 12.7734 26.5781 12.8359 24.9141C12.8828 23.6016 13.0391 22.8594 13.4297 22.0781C13.6328 21.6719 13.7031 21.6094 13.9375 21.5625C14.875 21.3828 16.0625 20.4297 16.5781 19.4375C16.8984 18.8359 16.8516 18.8672 17.8516 18.625C18.4141 18.4922 20.125 18.5859 20.7422 18.7812ZM30.1797 21.8906C30.3828 21.9766 30.5469 22.0859 30.5469 22.1172C30.5469 22.1484 30.1563 22.4297 29.6875 22.7422L28.8359 23.3047L28.4609 23.1406C28.1953 23.0234 27.8594 22.9609 27.3047 22.9297L26.5234 22.8828L26.8516 22.5547C27.1953 22.2109 27.6328 21.9531 28.1641 21.7734C28.6328 21.625 29.7188 21.6797 30.1797 21.8906ZM31.7734 23.4453C31.9609 23.8437 31.9844 24.0234 32.0156 24.8906L32.0469 25.8906H31.1953H30.3516L30.2578 25.4062C30.2031 25.1406 30.0703 24.75 29.9609 24.5391C29.8359 24.2969 29.7891 24.1172 29.8281 24.0781C29.9922 23.9141 31.375 23.0078 31.4688 23.0078C31.5234 23 31.6641 23.2031 31.7734 23.4453ZM28.0938 24.2812C28.6328 24.5312 29.1406 25.2344 29.1406 25.7344C29.1406 25.8828 29.0938 25.8906 27.7344 25.8906H26.3281V24.9922V24.0937H27.0156C27.5703 24.0937 27.7734 24.1328 28.0938 24.2812Z' fill='white'/%3E%3Cpath d='M17.8516 20.6485C17.1406 20.8516 16.5781 21.1875 16.0156 21.75C15.1016 22.6641 14.7344 23.7266 14.7812 25.3594C14.8047 26.3438 14.8672 26.5078 15.3437 26.8594C15.5547 27.0156 15.6641 27.0234 18.8906 27.0469L22.2266 27.0703L22.5781 26.8906C23.1172 26.6172 23.2031 26.375 23.2031 25.1484C23.2031 24 23.1016 23.5 22.7266 22.7422C22.4062 22.1172 21.5234 21.2344 20.9219 20.9453C19.9687 20.4922 18.7969 20.375 17.8516 20.6485ZM20.1797 21.8906C20.3828 21.9766 20.5469 22.086 20.5469 22.1172C20.5469 22.1485 20.1562 22.4297 19.6875 22.7422L18.8359 23.3047L18.4609 23.1406C18.1953 23.0235 17.8594 22.961 17.3047 22.9297L16.5234 22.8828L16.8516 22.5547C17.1953 22.211 17.6328 21.9531 18.1641 21.7735C18.6328 21.625 19.7187 21.6797 20.1797 21.8906ZM21.7812 23.4453C21.9687 23.8438 21.9922 24.0156 22.0156 24.8906L22.0469 25.8906H21.1875H20.3359L20.2891 25.5156C20.2578 25.2188 20.0391 24.6406 19.7812 24.1563C19.75 24.0938 21.3281 23.0078 21.4687 23.0078C21.5234 23 21.6641 23.2031 21.7812 23.4453ZM18.0469 24.2578C18.2422 24.3438 18.4844 24.4922 18.5859 24.5859C18.8047 24.7891 19.1406 25.4688 19.1406 25.7109V25.8906H17.5391H15.9375V25.1641C15.9375 24.0313 15.8906 24.0938 16.8672 24.0938C17.5312 24.0938 17.7656 24.125 18.0469 24.2578Z' fill='white'/%3E%3C/svg%3E%0A");
}
.menu-category-20 > a::before {
	background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9961 0.111336C15.2816 0.296883 13.6414 0.705086 12.0531 1.33595C10.7246 1.85548 10.257 2.13008 9.98241 2.53829C9.7746 2.85743 9.73749 2.87227 9.34413 2.90938C8.81718 2.96133 8.64648 3.0504 7.58515 3.85196C3.35468 7.05821 0.616009 11.9641 0.133588 17.1891L0.0445251 18.1613L0.252338 18.5844L0.452728 19L0.252338 19.4156L0.0445251 19.8387L0.133588 20.8109C0.46015 24.4031 1.91484 27.9805 4.21562 30.875C5.0246 31.8918 6.50156 33.3316 7.54804 34.1184C8.6539 34.9496 8.81718 35.0387 9.34413 35.0906C9.73749 35.1277 9.76718 35.1426 9.98984 35.4691C10.1754 35.7512 10.3312 35.8699 10.8953 36.1594C14.1535 37.7996 18.5547 38.3934 22.4141 37.6957C24.7519 37.2801 27.5797 36.1965 28.0621 35.5359C28.3441 35.1352 28.448 34.623 28.3293 34.1629C28.2699 33.9477 26.6742 31.1125 24.1656 26.7559C21.9242 22.8742 20.0762 19.6828 20.0613 19.6457C20.0465 19.616 21.3676 19.5938 23.0004 19.5938H25.9691L25.9914 21.427C26.0137 23.1488 26.0211 23.2898 26.1769 23.5645C26.3625 23.9133 26.7262 24.277 27.0898 24.4625C27.4461 24.6555 28.4332 24.6555 28.7746 24.4699C29.5316 24.0617 29.9101 23.4383 29.9101 22.5922C29.9101 22.1766 29.9398 22.043 30.0437 21.9465C30.2144 21.7906 30.3109 21.7906 30.4594 21.9391C30.5633 22.0356 30.5781 22.3547 30.5781 24.2695V26.4813L30.7859 26.8746C31.2906 27.8469 32.5894 28.0473 33.3613 27.2828C33.532 27.1121 33.7027 26.8449 33.7547 26.6742C33.8215 26.4516 33.8437 25.4422 33.8437 22.9781V19.5938H35.0238C36.4043 19.5938 36.8941 19.5195 37.2949 19.2375C37.6808 18.9703 38 18.3617 38 17.8793C38 17.4488 37.8144 15.9719 37.6586 15.2148C36.716 10.5391 33.8512 6.16758 29.9324 3.43633C29.3461 3.02813 29.0195 2.90196 28.5742 2.89454C28.3516 2.88712 28.2848 2.84258 28.0918 2.54571C27.8246 2.13008 27.3793 1.87032 26.0508 1.34336C23.1711 0.207817 20.0094 -0.222649 16.9961 0.111336ZM20.6699 1.18751C22.518 1.35079 24.8336 1.9668 26.4144 2.70899C27.023 2.99844 27.1715 3.10235 27.2309 3.28048C27.3199 3.5254 27.3051 3.56993 26.8746 4.31954L26.548 4.89102L26.0211 4.53477C24.8781 3.7629 24.2844 3.55508 22.7851 3.41407C22.3176 3.36954 21.4492 3.21368 20.8555 3.06524C19.3711 2.68673 18.7031 2.68673 17.2187 3.06524C16.625 3.21368 15.7566 3.36954 15.2891 3.41407C13.7898 3.55508 13.1961 3.7629 12.0531 4.53477L11.5262 4.89102L11.1773 4.27501C10.8137 3.61446 10.7543 3.2879 10.9695 3.09493C11.3555 2.7461 13.3297 1.98907 14.8066 1.6254C16.6918 1.16524 18.7328 1.00938 20.6699 1.18751ZM20.5957 4.15626C21.0855 4.27501 21.7906 4.41602 22.1543 4.45313C23.557 4.61641 23.8984 4.67579 24.2844 4.82423C24.7297 4.98751 25.9469 5.79649 25.9246 5.90782C25.9172 5.96719 19.1039 17.8051 19.0445 17.8645C19.0371 17.8719 18.4359 16.8328 17.7012 15.5637C16.9664 14.2871 16.291 13.1738 16.2019 13.0773C15.9867 12.8621 15.6973 12.8695 15.4598 13.107C15.3262 13.2406 15.2816 13.352 15.3039 13.493C15.3187 13.6043 15.9273 14.7176 16.6473 15.9719C17.3746 17.2262 17.9832 18.3023 18.0055 18.3691C18.05 18.4656 17.3152 18.4805 11.1254 18.4656L4.19335 18.4434L4.12656 17.6121C4.05234 16.5656 4.14882 16.0832 4.67577 14.9106C4.88359 14.443 5.21015 13.5598 5.3957 12.9512C5.58124 12.3352 5.81874 11.6746 5.92265 11.4742C6.03398 11.2664 6.47929 10.732 6.90976 10.2867C7.34023 9.83399 7.97851 9.07696 8.31991 8.60938C8.66874 8.1418 9.10663 7.62227 9.29218 7.45157C9.58906 7.1918 10.9398 6.44962 11.1105 6.45704C11.1402 6.45704 11.8082 7.57032 12.5801 8.9211C13.3594 10.2793 14.057 11.4668 14.1461 11.5707C14.3316 11.7934 14.6953 11.8156 14.918 11.6152C15.2297 11.3332 15.148 11.1402 13.6117 8.49063C12.8176 7.11016 12.157 5.94493 12.1496 5.90782C12.1422 5.87071 12.4391 5.63321 12.8176 5.37344C13.6414 4.80938 14.1387 4.6461 15.3336 4.52735C15.816 4.48282 16.5211 4.37149 16.8848 4.28985C17.2559 4.20821 17.8199 4.07462 18.1465 4.0004C18.8961 3.82969 19.4156 3.85938 20.5957 4.15626ZM9.78945 4.20821C9.98241 4.4086 10.5762 5.41055 10.5242 5.44766C10.5168 5.46251 10.1531 5.64805 9.73749 5.86329C8.78007 6.35313 8.26796 6.81329 7.42929 7.94141C7.08788 8.40899 6.44218 9.16602 6.00429 9.62617C5.05429 10.6281 4.74257 11.1848 4.34921 12.5578C4.20077 13.0848 3.89648 13.916 3.68124 14.4133C3.04296 15.8531 3.00585 16.0387 3.0207 17.3449L3.03554 18.4805H2.46406C1.31367 18.4805 1.13554 18.3246 1.2246 17.3895C1.66992 12.4168 4.28984 7.7336 8.31991 4.68321C9.31445 3.9336 9.46288 3.88907 9.78945 4.20821ZM29.2941 4.34922C32.6637 6.65001 35.3281 10.5168 36.3672 14.5988C36.7012 15.9348 36.9535 17.6938 36.857 18.0723C36.7828 18.3543 36.4191 18.4805 35.6547 18.4805H35.0164L35.0683 17.5305C35.1351 16.343 35.0312 15.8457 34.4301 14.4875C34.1926 13.9457 33.8808 13.0922 33.7398 12.5949C33.2945 11.0363 33.109 10.6949 31.9883 9.53711C31.5949 9.12891 30.9863 8.40899 30.6375 7.93399C29.7023 6.66485 29.3683 6.36798 28.2031 5.78907C27.8543 5.61837 27.5574 5.46251 27.55 5.45509C27.498 5.40313 28.0918 4.4086 28.2848 4.20821C28.3961 4.09688 28.5594 4.00782 28.641 4.00782C28.7226 4.00782 29.0121 4.16368 29.2941 4.34922ZM27.7207 6.79102C28.6039 7.22891 28.975 7.55547 29.7543 8.60938C30.0957 9.07696 30.7414 9.84141 31.1867 10.3016C32.107 11.2738 32.3 11.6078 32.6933 12.9883C32.8418 13.5004 33.1312 14.2945 33.3391 14.7621C33.5394 15.2297 33.7547 15.7418 33.8141 15.9125C33.9625 16.3207 34.0144 17.1297 33.9402 17.8496L33.8808 18.4434L33.4578 18.4656C33.1016 18.4805 33.0051 18.5176 32.8789 18.6809C32.7305 18.8664 32.7305 18.9629 32.7305 22.607C32.7305 26.2512 32.723 26.3551 32.582 26.4961C32.3891 26.6891 32.0773 26.6816 31.8621 26.4813L31.6914 26.3254V24.084C31.6914 21.9168 31.684 21.8426 31.5281 21.5234C31.3055 21.093 30.875 20.7887 30.3926 20.7367C30.0808 20.6996 29.9547 20.7293 29.6133 20.9074C29.0715 21.182 28.7969 21.6867 28.7969 22.3918C28.7969 22.9484 28.6633 23.2527 28.3516 23.416C27.9285 23.6313 27.4683 23.5199 27.2383 23.1414C27.1047 22.9188 27.0898 22.7629 27.0898 21.2414V19.5938H29.1605C31.2906 19.5938 31.6246 19.5566 31.7656 19.2969C31.8844 19.0742 31.8547 18.7922 31.6914 18.6289C31.543 18.4805 31.4465 18.4805 25.791 18.4805C22.6293 18.4805 20.0391 18.4582 20.0391 18.4285C20.0391 18.3246 26.9043 6.46446 26.9711 6.45704C27.0082 6.45704 27.3422 6.60547 27.7207 6.79102ZM3.0207 20.6848C3.00585 21.9539 3.05038 22.1543 3.68124 23.5867C3.89648 24.084 4.20077 24.9152 4.34921 25.4422C4.74257 26.8152 5.05429 27.3719 6.00429 28.3738C6.44218 28.834 7.08788 29.591 7.42929 30.0586C8.27538 31.1941 8.78749 31.6543 9.75976 32.1441C10.2719 32.4113 10.5242 32.5746 10.5019 32.6414C10.3832 32.9531 9.83398 33.7918 9.68554 33.8883C9.42577 34.059 9.24023 33.9848 8.49804 33.443C5.72968 31.402 3.62187 28.641 2.33788 25.3828C1.79609 24.0023 1.33593 22.0059 1.2246 20.5586C1.18007 19.9797 1.18749 19.9129 1.32851 19.757C1.47695 19.6086 1.55859 19.5938 2.25624 19.5938H3.02812L3.0207 20.6848ZM17.7976 20.0242C16.15 22.941 11.1551 31.5355 11.1105 31.543C10.9398 31.5504 9.58906 30.8082 9.29218 30.5484C9.10663 30.3777 8.66874 29.8582 8.31991 29.3906C7.97851 28.923 7.34023 28.166 6.90976 27.7133C6.47929 27.268 6.03398 26.7336 5.92265 26.5258C5.81874 26.3254 5.58124 25.6574 5.3957 25.0488C5.21015 24.4328 4.89101 23.557 4.67577 23.0969C4.15624 21.9316 4.05976 21.4715 4.11913 20.425L4.17109 19.5938H11.1105H18.0426L17.7976 20.0242ZM22.4883 26.0805C24.3734 29.3461 25.9172 32.0551 25.9246 32.0922C25.9543 32.2332 24.5812 33.0941 24.0914 33.2426C23.8316 33.3242 23.2156 33.4281 22.7258 33.4727C22.2285 33.5246 21.5457 33.6285 21.2117 33.7027C18.9777 34.2223 18.9777 34.2223 17.5008 33.8512C16.1574 33.5172 16.0832 33.5098 15.8457 33.7176C15.6082 33.918 15.5637 34.2965 15.7492 34.482C15.8086 34.5414 16.4098 34.727 17.0777 34.8977C18.7254 35.3133 19.3414 35.3207 20.8555 34.9348C21.4492 34.7863 22.3176 34.6305 22.7851 34.5859C24.2844 34.4449 24.8781 34.2371 26.0211 33.4727L26.5406 33.1164L26.8969 33.7176C27.268 34.3484 27.3348 34.6379 27.1566 34.8531C26.8894 35.1871 24.8262 35.9887 23.2898 36.3672C21.7164 36.7531 20.9074 36.8422 19.0371 36.8422C17.1668 36.8422 16.3578 36.7531 14.7844 36.3672C13.3297 36.0109 11.3555 35.2539 10.9695 34.9051C10.7543 34.7121 10.8137 34.3855 11.1773 33.725L11.5262 33.109L12.0531 33.4652C12.7062 33.9031 13.4484 34.2891 13.6562 34.2891C14.0644 34.2891 14.3242 33.9031 14.1684 33.532C14.109 33.3836 13.9531 33.2574 13.6266 33.109C13.3816 32.9828 12.9289 32.7156 12.632 32.5078L12.0976 32.1293L12.298 31.7805C16.0906 25.2047 19.0371 20.1281 19.0445 20.1355C19.0519 20.143 20.6031 22.8223 22.4883 26.0805Z' fill='white'/%3E%3Cpath d='M16.0683 4.75745C15.3113 5.01721 14.7695 5.5219 14.4207 6.28635C14.25 6.65002 14.2129 6.82073 14.2129 7.3551C14.2129 7.94143 14.2351 8.03049 14.4949 8.55002C14.9625 9.50745 15.7269 10.0196 16.7808 10.0789C17.7383 10.1309 18.5473 9.78205 19.1262 9.04729C19.6902 8.32737 19.8535 7.22893 19.5269 6.36057C19.0074 5.02463 17.4117 4.28245 16.0683 4.75745ZM17.575 5.83362C18.5918 6.25666 18.9109 7.55549 18.1984 8.38674C17.2633 9.47776 15.5117 8.97307 15.3187 7.55549C15.2223 6.87268 15.6676 6.11565 16.3281 5.83362C16.6695 5.68518 17.2262 5.68518 17.575 5.83362Z' fill='white'/%3E%3Cpath d='M22.3769 5.20271C22.2582 5.2324 22.0281 5.36599 21.8723 5.49958C21.234 6.02654 21.0633 6.93201 21.4863 7.61482C21.8129 8.14177 22.2953 8.41638 22.8816 8.41638C23.6164 8.40896 24.1062 8.08982 24.4105 7.42185C24.7 6.78357 24.5738 6.15271 24.0543 5.63318C23.5941 5.1656 23.0078 5.01716 22.3769 5.20271ZM23.2676 6.4199C23.5644 6.70935 23.4828 7.13982 23.1043 7.28083C22.748 7.41443 22.3398 7.11013 22.3398 6.70935C22.3398 6.53122 22.6887 6.23435 22.8965 6.23435C23.0004 6.23435 23.1711 6.31599 23.2676 6.4199Z' fill='white'/%3E%3Cpath d='M10.1754 7.95625C9.49999 8.075 8.95819 8.65391 8.86171 9.36641C8.73554 10.309 9.5371 11.207 10.5019 11.207C11.4668 11.207 12.2683 10.309 12.1422 9.36641C12.0086 8.40899 11.1402 7.78555 10.1754 7.95625ZM10.8656 9.17344C11.207 9.50742 11.0066 10.0344 10.5242 10.0789C10.309 10.0938 10.2273 10.0641 10.1012 9.90078C9.90819 9.64844 9.90077 9.5 10.1012 9.24766C10.2793 9.025 10.6801 8.98047 10.8656 9.17344Z' fill='white'/%3E%3Cpath d='M18.525 11.3109C17.9535 11.5262 17.5898 11.927 17.434 12.4984C17.1668 13.4781 18.0055 14.5469 19.0371 14.5469C19.9129 14.5469 20.7144 13.723 20.707 12.8324C20.707 12.5355 20.4695 11.9863 20.2394 11.7414C19.8387 11.3109 19.0594 11.118 18.525 11.3109ZM19.4082 12.5059C19.5121 12.6023 19.5937 12.773 19.5937 12.877C19.5937 12.9809 19.5121 13.1516 19.4082 13.248C19.3117 13.352 19.141 13.4336 19.0371 13.4336C18.807 13.4336 18.4805 13.1293 18.4805 12.9141C18.4805 12.402 19.0519 12.1496 19.4082 12.5059Z' fill='white'/%3E%3Cpath d='M11.4891 12.1941C10.7246 12.4836 10.1383 13.0105 9.8043 13.723C9.64102 14.0793 9.61133 14.2352 9.61133 14.8437C9.61133 15.4523 9.64102 15.6082 9.81172 15.9719C10.0641 16.5211 10.643 17.1 11.1922 17.3523C11.5559 17.523 11.7117 17.5527 12.3203 17.5527C12.9289 17.5527 13.0848 17.523 13.4484 17.3523C13.9977 17.1 14.5766 16.5211 14.8289 15.9719C14.9996 15.6082 15.0293 15.4523 15.0293 14.8437C15.0293 14.2352 14.9996 14.0793 14.8289 13.7156C14.5691 13.1516 14.057 12.6172 13.5301 12.3574C13.1738 12.1793 12.9883 12.1422 12.4316 12.1199C11.9938 12.1051 11.6672 12.1273 11.4891 12.1941ZM13.2035 13.4559C14.2055 14.1164 14.198 15.5859 13.1887 16.2094C12.2832 16.766 11.1031 16.3578 10.7691 15.3707C10.5094 14.584 10.8805 13.6934 11.6152 13.3445C12.0605 13.1367 12.7953 13.1887 13.2035 13.4559Z' fill='white'/%3E%3Cpath d='M5.95976 14.7696C4.73515 15.393 4.73515 17.1149 5.95234 17.7457C6.30859 17.9313 6.98398 17.9313 7.38476 17.7457C8.53515 17.2262 8.63906 15.5785 7.56289 14.866C7.13242 14.584 6.4125 14.5395 5.95976 14.7696ZM7.05078 15.8828C7.2289 16.061 7.24375 16.3801 7.08047 16.6102C6.99882 16.7289 6.89492 16.7735 6.70195 16.7735C6.35312 16.7735 6.16015 16.5953 6.16015 16.2762C6.16015 15.9645 6.38281 15.7344 6.67968 15.7344C6.80586 15.7344 6.96914 15.8012 7.05078 15.8828Z' fill='white'/%3E%3Cpath d='M27.0527 8.58711C26.4441 8.90625 26.125 9.42578 26.125 10.0937C26.125 11.0512 26.8004 11.7266 27.7726 11.7266C28.7004 11.7266 29.3906 11.0066 29.3906 10.027C29.3906 9.44805 28.9973 8.84687 28.4629 8.60195C28.0918 8.43125 27.3644 8.42383 27.0527 8.58711ZM28.1289 9.72266C28.4406 10.0344 28.218 10.6133 27.7726 10.6133C27.4387 10.6133 27.2383 10.4203 27.2383 10.116C27.2383 9.96758 27.2902 9.78203 27.3644 9.70781C27.5277 9.52969 27.9359 9.52969 28.1289 9.72266Z' fill='white'/%3E%3Cpath d='M28.641 12.4168C27.884 12.7359 27.4312 13.1664 27.0973 13.8789C26.934 14.2277 26.9043 14.3836 26.9043 14.9922C26.9117 15.6156 26.934 15.7492 27.1269 16.1426C27.4015 16.7066 27.8988 17.2039 28.4629 17.4785C28.8562 17.6715 28.9898 17.6938 29.6133 17.7012C30.2219 17.7012 30.3777 17.6715 30.7414 17.5008C31.3277 17.2262 31.7953 16.7734 32.0848 16.1871C32.3074 15.7344 32.3223 15.6453 32.3223 14.9551C32.3223 14.2871 32.3 14.1684 32.107 13.7973C31.8473 13.2703 31.3351 12.7656 30.8008 12.4984C30.4668 12.3277 30.2738 12.2832 29.7246 12.2684C29.1531 12.2461 28.9973 12.2684 28.641 12.4168ZM30.3183 13.5004C30.682 13.6637 31.0531 14.0719 31.1719 14.4355C31.3203 14.8883 31.2387 15.534 30.9789 15.9051C30.5855 16.4691 29.7172 16.7734 29.116 16.5434C28.2476 16.2168 27.8023 15.341 28.0621 14.4652C28.3367 13.5746 29.4351 13.0996 30.3183 13.5004Z' fill='white'/%3E%3Cpath d='M23.4754 14.3242C22.2211 14.9625 22.2656 16.7957 23.5422 17.3227C23.9133 17.4785 24.5367 17.4711 24.9004 17.3004C26.0508 16.7809 26.1547 15.1332 25.0785 14.4207C24.648 14.1387 23.9281 14.0942 23.4754 14.3242ZM24.5664 15.4375C24.7445 15.6157 24.7594 16.009 24.5887 16.1946C24.4105 16.395 23.943 16.3727 23.7945 16.1649C23.5273 15.7864 23.7574 15.2891 24.1953 15.2891C24.3215 15.2891 24.4848 15.3559 24.5664 15.4375Z' fill='white'/%3E%3Cpath d='M12.5281 19.9203C11.9715 20.1207 11.6152 20.4844 11.4371 20.9965C11.0957 22.0207 11.9269 23.1562 13.018 23.1562C14.2723 23.1562 15.0812 21.7164 14.4281 20.6551C14.0273 20.0094 13.1738 19.6754 12.5281 19.9203ZM13.2406 21.0113C13.3371 21.0633 13.4633 21.1895 13.5078 21.3082C13.6859 21.7387 13.2332 22.1766 12.8027 21.9836C12.4019 21.798 12.3797 21.2191 12.7656 21.0262C12.9957 20.9074 13.0105 20.9074 13.2406 21.0113Z' fill='white'/%3E%3Cpath d='M6.57577 20.7367C5.36601 21.182 5.03944 22.5773 5.93007 23.4605C6.4496 23.9801 7.08046 24.1062 7.71874 23.8168C8.38671 23.5125 8.70585 23.0227 8.71327 22.2879C8.71327 21.9094 8.67616 21.7684 8.49061 21.4715C8.08241 20.8109 7.24374 20.4918 6.57577 20.7367ZM7.30311 21.8277C7.83007 22.0727 7.6371 22.8594 7.05077 22.8594C6.83554 22.8594 6.53124 22.5328 6.53124 22.3027C6.53124 22.0949 6.82811 21.7461 7.00624 21.7461C7.06561 21.7461 7.19921 21.7832 7.30311 21.8277Z' fill='white'/%3E%3Cpath d='M9.58163 23.5941C8.63905 23.9504 7.99335 24.7223 7.79296 25.7391C7.56288 26.8895 8.22343 28.1512 9.34413 28.7078C9.71522 28.8859 9.84139 28.9082 10.5019 28.9082C11.1625 28.9082 11.2887 28.8859 11.6672 28.7004C12.7879 28.1512 13.441 26.8969 13.2109 25.7391C13.0328 24.8187 12.491 24.0988 11.6746 23.7055C11.1105 23.4234 10.1754 23.3789 9.58163 23.5941ZM11.1699 24.7074C12.1644 25.1602 12.4539 26.4145 11.7414 27.2383C11.066 28.0324 9.93788 28.0324 9.26249 27.2383C8.72811 26.6148 8.72811 25.7836 9.26249 25.1602C9.74491 24.5961 10.5242 24.4105 11.1699 24.7074Z' fill='white'/%3E%3Cpath d='M18.4434 22.9707C18.2726 23.0301 18.0129 23.2156 17.8422 23.4086C17.1371 24.173 17.2707 25.3011 18.1242 25.8726C18.718 26.2734 19.3562 26.2734 19.95 25.8726C20.8332 25.2789 20.9445 24.1433 20.1949 23.3715C19.7125 22.8742 19.1113 22.7332 18.4434 22.9707ZM19.4082 24.1582C19.6976 24.4476 19.6457 24.7965 19.282 24.982C19.1039 25.0711 19.0148 25.0785 18.8516 25.0117C18.6512 24.9301 18.4805 24.6703 18.4805 24.4476C18.4805 24.2695 18.8293 23.9726 19.0371 23.9726C19.141 23.9726 19.3117 24.0543 19.4082 24.1582Z' fill='white'/%3E%3Cpath d='M16.7363 27.0082C15.4004 27.3644 14.532 28.5742 14.6433 29.9102C14.725 30.8898 15.289 31.7211 16.1648 32.1516C16.625 32.3816 16.714 32.3965 17.4043 32.3965C18.0648 32.3965 18.191 32.3742 18.5621 32.1887C19.0594 31.9512 19.6828 31.3129 19.9129 30.823C20.0465 30.5262 20.0762 30.3332 20.0762 29.6875C20.0762 28.9453 20.0687 28.8859 19.8238 28.4406C19.3265 27.5277 18.5101 27.0082 17.5156 26.9711C17.2113 26.9562 16.8625 26.9785 16.7363 27.0082ZM17.8941 28.1363C19.0594 28.4926 19.3933 30.1105 18.4582 30.927C18.1094 31.2312 17.7457 31.3426 17.2113 31.3055C16.625 31.2609 16.2168 30.9863 15.9422 30.4371C15.2742 29.1234 16.4691 27.7133 17.8941 28.1363Z' fill='white'/%3E%3Cpath d='M21.9242 29.3016C21.234 29.6281 20.8258 30.4445 21.0039 31.1719C21.1152 31.6469 21.5605 32.159 22.0058 32.3223C22.5031 32.5152 23.1414 32.4485 23.5422 32.1664C23.9504 31.877 24.2695 31.2832 24.2695 30.8008C24.2695 30.3184 23.9504 29.7246 23.5422 29.4277C23.1265 29.1457 22.3992 29.0863 21.9242 29.3016ZM23.0078 30.4445C23.3195 30.7859 23.0672 31.3203 22.5922 31.3203C22.3324 31.3203 22.043 31.0457 22.043 30.8008C22.043 30.7266 22.1098 30.5856 22.1988 30.4742C22.3992 30.2219 22.7851 30.207 23.0078 30.4445Z' fill='white'/%3E%3C/svg%3E%0A");
}
.menu-category-21 > a::before {
	background-image: url("data:image/svg+xml,%3Csvg width='23' height='37' viewBox='0 0 23 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.46855 0.176361C2.95625 0.503899 2.85547 0.873432 2.85547 2.48593C2.85547 3.99765 2.91426 4.36718 3.1998 4.66953L3.37617 4.86269L3.10742 6.10566C2.6623 8.20527 2.56152 8.44883 1.13379 10.666C0.613086 11.4723 0.151172 12.2197 0.0923828 12.3289C-0.0251953 12.5473 0.125977 13.5803 0.419922 14.6805C0.579492 15.26 0.587891 15.5791 0.587891 22.4742V29.6549L0.293945 30.8223C0.0167969 31.9141 0 32.0736 0 33.3418C0 34.0893 0.0419922 34.8535 0.0923828 35.0467C0.226758 35.5926 0.394727 35.9201 0.907031 36.1805L0.935444 36.1944C1.2096 36.3289 1.51092 36.3988 1.81629 36.3988H9.21309C9.38126 36.5399 9.59374 36.6172 9.81324 36.6172L14.4033 36.6172C18.7705 36.6172 20.7012 36.6172 20.7012 36.6172L21.8271 35.365C22.1572 34.9979 22.3398 34.5216 22.3398 34.0278V26.6314V19.3169C22.3398 18.8858 22.2005 18.4663 21.9427 18.1208L21.5 17.5275L20.6602 16.3937V15.5455C20.6602 14.7477 20.6434 14.6721 20.4502 14.4873C20.3214 14.3532 20.1435 14.2773 19.9576 14.2773H16.5869C13.723 14.2773 12.9336 14.2521 12.9336 14.1682C12.942 14.1178 12.9924 13.8238 13.0596 13.5215C13.2863 12.4969 13.2947 12.5305 12.0854 10.624C10.9012 8.75957 10.6072 8.14648 10.3385 6.9959C9.92695 5.26582 9.84297 4.8291 9.90176 4.78711C9.94375 4.76191 10.0529 4.61074 10.1537 4.45117C10.3133 4.18242 10.3301 4.03965 10.3301 2.56152C10.3301 0.772652 10.2713 0.537495 9.75059 0.193157C9.46504 -7.62939e-06 9.43984 -3.8147e-06 6.60117 -3.8147e-06C3.86328 -3.8147e-06 3.72891 0.00839233 3.46855 0.176361ZM9.1543 2.51953V3.94726H6.59277H4.03125V2.57832C4.03125 1.82246 4.05645 1.17578 4.09004 1.15058C4.11523 1.11699 5.27422 1.09179 6.65156 1.09179H9.1543V2.51953ZM8.77637 5.30781C8.80156 5.41699 8.95273 6.08047 9.1123 6.79433C9.28027 7.525 9.53223 8.37324 9.7002 8.76797C9.86816 9.1375 10.0277 9.49863 10.0529 9.55742C10.1033 9.6834 10.0529 9.675 8.56641 9.38945C7.35703 9.16269 5.84531 8.77637 4.75352 8.42363C3.93047 8.16328 3.84648 8.11289 3.88008 7.95332C3.90527 7.85254 4.04805 7.17226 4.20762 6.4416L4.49316 5.12304H6.60957H8.73438L8.77637 5.30781ZM4.46797 9.54062C6.36602 10.1369 9.58262 10.834 10.4225 10.834C10.8256 10.834 10.9348 10.9348 11.4975 11.8418C12.0854 12.774 12.077 12.732 11.8418 13.8322L11.741 14.2773H10.9516C10.2209 14.2773 10.1369 14.2941 9.95215 14.4873C9.75898 14.6721 9.74219 14.7477 9.74219 15.5371C9.74219 16.3602 9.73379 16.4021 9.47344 16.7633L9.21309 17.1328H5.48418H1.76367V16.1334C1.76367 15.4951 1.72168 15.0164 1.64609 14.8064C1.46133 14.2857 1.16738 12.7572 1.23457 12.648C1.25977 12.5977 1.71328 11.8922 2.22559 11.0859C2.74629 10.2797 3.2082 9.53223 3.26699 9.42305C3.31738 9.32227 3.40137 9.23828 3.44336 9.23828C3.47695 9.23828 3.93887 9.37266 4.46797 9.54062ZM19.4844 16.0578C19.4844 16.7297 19.5432 16.8725 20.2066 17.7375C20.4082 17.9979 20.5762 18.233 20.5762 18.2582C20.5762 18.2834 19.392 18.3086 17.9475 18.3086C15.0164 18.3086 14.9492 18.317 14.9492 18.8377C14.9576 19.476 15.008 19.4844 18.3422 19.4844H21.248V26.7742V34.0557L20.509 34.7947L19.7783 35.5254H15.2012H10.624L9.89336 34.7947L9.1543 34.0557V26.5895V19.1232L9.94375 18.065C10.3721 17.4855 10.7752 16.9228 10.8256 16.8221C10.876 16.7213 10.918 16.377 10.918 16.0494V15.4531H15.2012H19.4844V16.0578ZM8.19688 18.4934C8.0877 18.6529 8.0625 18.9805 8.0625 20.383C8.0625 21.9199 8.0457 22.0795 7.91973 22.1215C7.34863 22.2895 6.34922 22.3734 4.60234 22.3734C2.47754 22.3818 2.44395 22.3902 2.31797 22.8102C2.24238 23.0621 2.53633 23.398 2.90586 23.4652C3.69531 23.6164 7.03789 23.4988 7.87773 23.2889L8.0709 23.2469L8.0457 24.4898L8.02051 25.7412L4.89629 25.7664L1.76367 25.7832V22.0459V18.3086H5.04746H8.32285L8.19688 18.4934ZM8.0625 30.7971L8.10449 34.6771L8.52441 35.1055L8.70117 35.3086H5.48418C1.72168 35.3086 1.72168 35.265 1.35215 34.7947C1.35215 34.7947 1.17578 34.7191 1.17578 33.4594C1.17578 32.1828 1.19258 32.0148 1.46973 30.8979C1.74688 29.7641 1.76367 29.6129 1.76367 28.2859V26.875L4.89629 26.8918L8.02051 26.917L8.0625 30.7971Z' fill='white'/%3E%3Cpath d='M18.3506 26.169C17.1244 26.8828 15.4027 27.1768 12.858 27.1096C11.3295 27.076 11.2287 27.076 11.0691 27.2356C10.8424 27.4623 10.8928 27.8654 11.1951 28.0922C11.4135 28.2518 11.5311 28.2686 13.3367 28.2602C15.4531 28.2518 16.6289 28.1006 17.8047 27.6723C18.527 27.4203 19.3584 26.9416 19.434 26.7484C19.5264 26.5049 19.4844 26.2361 19.3416 26.1102C19.0561 25.8582 18.8713 25.875 18.3506 26.169Z' fill='white'/%3E%3C/svg%3E%0A");
}

.products-container {
	padding-top: 76px;
	margin-top: -76px;
}

.products-container h1, .woocommerce > h1 {
	margin: 40px 0;
	text-align: center;
}

.woocommerce .products ul, .woocommerce ul.products {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	float: unset;
	width: unset;
	margin: 0;

	background: #2B2B2B;
	// box-shadow: 0px 4px 8px 4px rgb(0, 0, 0 / 4%);
	border-radius: 25px;
	padding: 25px 20px;
	box-sizing: border-box;

	margin-top: 160px;
}

.woocommerce .products ul::after, .woocommerce .products ul::before, .woocommerce ul.products::after, .woocommerce ul.products::before {
	display: none;
}

.woocommerce ul.products li.product a {
	color: #FFFFFF;
}

.woocommerce ul.products li.product a img {
	margin: auto;
	margin-top: -160px;
	border-radius: 100%;
	width: 250px;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	font-size: 20px;
	padding: 22px 0;
}

.woocommerce ul.products li.product .woocommerce-loop-product__content {
	min-height: 90px;
}

.woocommerce ul.products li.product .woocommerce-loop-product__content, .woocommerce ul.products li.product .woocommerce-loop-product__weight {
	font-size: 14px;
	font-weight: 400;
}

.woocommerce ul.products li.product .price {
	color: #FFFFFF;
	margin-bottom: 0;
	margin-top: 13px;

	font-size: 24px;
	font-weight: 700;

	width: 50%;
	float: left;
}

.woocommerce ul.products li.product .button {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	float: right;
	margin: 0;

	position: relative;
	bottom: 12px;
	margin-bottom: -12px;

	border-radius: 11px;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	background: #FCC12C;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.woocommerce ul.products li.product .button::before {
	font-size: 23px;
}

.woocommerce #respond input#submit.loading, .woocommerce a.button.loading, .woocommerce button.button.loading, .woocommerce input.button.loading {
	padding-right: 10px;
}

.woocommerce #respond input#submit.loading::after, .woocommerce a.button.loading::after, .woocommerce button.button.loading::after, .woocommerce input.button.loading::after {
	top: 16px;
	color: #2b2b2b;
}

.woocommerce #respond input#submit.added::before, .woocommerce a.button.added::before, .woocommerce button.button.added::before, .woocommerce input.button.added::before {
	display: none;
}

.woocommerce #respond input#submit.added::after, .woocommerce a.button.added::after, .woocommerce button.button.added::after, .woocommerce input.button.added::after {
	margin: 0;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .scroll-to-top:hover {
	background-color: #FCC12C;
	filter: brightness(1.1);
}

footer {
	margin-top: 150px;
}

.sub-footer {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

footer .menu-group {
	display: flex;
	justify-content: space-between;

	padding: 40px 0;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

footer .menu-glavnoe-menyu-container .menu {
	display: flex;
	gap: 70px;
}

#menu-soczialnye-seti {
	display: flex;
	gap: 20px;
}

#menu-soczialnye-seti .menu-item a {
	width: 20px;
	height: 20px;
	text-indent: -9999px;
	white-space: nowrap;

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#menu-soczialnye-seti a[title="VK"] {
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='13' viewBox='0 0 22 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.2561 7.45457C17.9004 6.99957 18.0021 6.79714 18.2561 6.39043C18.2606 6.38579 21.1968 2.27593 21.4993 0.882143L21.5012 0.881214C21.6515 0.373286 21.5012 0 20.7742 0H18.3688C17.7564 0 17.4741 0.320357 17.3228 0.678786C17.3228 0.678786 16.0981 3.64836 14.3656 5.57329C13.8064 6.1295 13.5479 6.30779 13.2426 6.30779C13.0923 6.30779 12.8585 6.1295 12.8585 5.62157V0.881214C12.8585 0.272071 12.6871 0 12.1802 0H8.39787C8.01378 0 7.78552 0.284143 7.78552 0.548786C7.78552 1.12636 8.6518 1.25914 8.74164 2.88414V6.40993C8.74164 7.1825 8.60322 7.32457 8.29612 7.32457C7.47843 7.32457 5.49377 4.34293 4.31765 0.930428C4.08022 0.268357 3.8483 0.000928504 3.23136 0.000928504H0.825029C0.138421 0.000928504 0 0.321286 0 0.679714C0 1.313 0.817695 4.46179 3.80246 8.62179C5.7917 11.4614 8.59313 13 11.1416 13C12.6734 13 12.8604 12.6583 12.8604 12.0705C12.8604 9.35721 12.7219 9.10093 13.4892 9.10093C13.8449 9.10093 14.4573 9.27921 15.8873 10.6489C17.5218 12.2729 17.7904 13 18.7052 13H21.1106C21.7963 13 22.1438 12.6583 21.9439 11.9841C21.4865 10.5662 18.3954 7.64957 18.2561 7.45457Z' fill='white'/%3E%3C/svg%3E%0A");
}

#menu-soczialnye-seti a[title="Instagram"] {
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5862 0H5.41382C2.42859 0 0 2.42859 0 5.41382V14.5863C0 17.5714 2.42859 20 5.41382 20H14.5863C17.5714 20 20 17.5714 20 14.5863V5.41382C20 2.42859 17.5714 0 14.5862 0V0ZM10 15.4686C6.98456 15.4686 4.5314 13.0154 4.5314 10C4.5314 6.98456 6.98456 4.5314 10 4.5314C13.0154 4.5314 15.4686 6.98456 15.4686 10C15.4686 13.0154 13.0154 15.4686 10 15.4686ZM15.5994 5.82108C14.7083 5.82108 13.9835 5.09628 13.9835 4.20517C13.9835 3.31406 14.7083 2.58911 15.5994 2.58911C16.4905 2.58911 17.2154 3.31406 17.2154 4.20517C17.2154 5.09628 16.4905 5.82108 15.5994 5.82108Z' fill='white'/%3E%3C/svg%3E%0A");
}

#menu-soczialnye-seti a[title="WhatsApp"] {
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0027 0H10.9973C4.93213 0 0 4.9335 0 11C0 13.4062 0.7755 15.6365 2.09413 17.4474L0.72325 21.5339L4.95138 20.1823C6.69075 21.3345 8.76562 22 11.0027 22C17.0679 22 22 17.0651 22 11C22 4.93488 17.0679 0 11.0027 0ZM17.4034 15.5334C17.138 16.2827 16.0847 16.9042 15.2446 17.0857C14.6699 17.2081 13.9191 17.3057 11.3919 16.258C8.15925 14.9188 6.0775 11.6339 5.91525 11.4207C5.75988 11.2076 4.609 9.68138 4.609 8.10287C4.609 6.52437 5.41062 5.75575 5.73375 5.42575C5.99913 5.15488 6.43775 5.03113 6.8585 5.03113C6.99463 5.03113 7.117 5.038 7.227 5.0435C7.55013 5.05725 7.71237 5.0765 7.9255 5.58663C8.19088 6.226 8.83712 7.8045 8.91412 7.96675C8.9925 8.129 9.07088 8.349 8.96088 8.56213C8.85775 8.78213 8.767 8.87975 8.60475 9.06675C8.4425 9.25375 8.2885 9.39675 8.12625 9.5975C7.97775 9.77213 7.81 9.95913 7.997 10.2823C8.184 10.5985 8.83025 11.6531 9.78175 12.5001C11.0096 13.5932 12.0051 13.9425 12.3612 14.091C12.6266 14.201 12.9429 14.1749 13.1368 13.9686C13.3829 13.7033 13.6867 13.2633 13.9961 12.8301C14.2161 12.5194 14.4939 12.4809 14.7854 12.5909C15.0824 12.694 16.654 13.4709 16.9771 13.6317C17.3003 13.794 17.5134 13.871 17.5917 14.0071C17.6687 14.1433 17.6687 14.7826 17.4034 15.5334Z' fill='%23FFF'/%3E%3C/svg%3E%0A");
}

#menu-soczialnye-seti a[title="Telegram"] {
	background-image: url("data:image/svg+xml,%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.63241 12.083L8.2685 17.2016C8.78916 17.2016 9.01466 16.978 9.28508 16.7094L11.7262 14.3765L16.7843 18.0807C17.712 18.5977 18.3656 18.3255 18.6158 17.2273L21.936 1.66962L21.9369 1.6687C22.2312 0.297372 21.441 -0.238878 20.5372 0.0975384L1.02133 7.56929C-0.310587 8.08629 -0.29042 8.82879 0.794913 9.1652L5.78433 10.7171L17.3737 3.46537C17.9192 3.1042 18.4151 3.30404 18.0072 3.6652L8.63241 12.083Z' fill='white'/%3E%3C/svg%3E%0A");
}

#menu-soczialnye-seti a:hover {
	filter: invert(28%) sepia(85%) saturate(443%) hue-rotate(345deg) brightness(100%) contrast(98%);
}

#menu-soczialnye-seti .menu-item:hover {
	box-shadow: unset;
}

.woocommerce ul.products li.product .woocommerce-placeholder {
	border: none;
}

.scroll-to-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 100;
	border: none;
	outline: none;
	background-color: #FCC12C;
	color: #FFFFFF;
	cursor: pointer;
	border-radius: 10px;

	width: 30px;
	height: 30px;
}

.d-none {
	display: none !important;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	float: unset;
	width: unset;
}

h1:empty, h3:empty {
	display: none;
}

.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
	display: none;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
	width: 120px;
}

.checkout {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: minmax(0, max-content) minmax(0, max-content);
	grid-column-gap: 275px;
	grid-template-areas:
		'order_errors order_errors'
		'customer_details order_review_heading'
		'customer_details order_review';
}

.woocommerce-NoticeGroup-checkout {
	grid-area: order_errors;
}

#order_review_heading {
	grid-area: order_review_heading;
}

#customer_details {
	grid-area: customer_details;
}

#order_review {
	grid-area: order_review;
}

input, textarea {
	background-color: #2A2A2A;
	color: #FFFFFF;
	border-color: #6a6a6a;
	border-width: 1px;
	border-radius: 4px;
	border-style: inset;
	padding: 10px 15px;
	transition: border-left .2s;
}

input:focus, textarea:focus {
	border-left: 1px solid #FCC12C;
}

.woocommerce .quantity .qty {
	padding: 5px 3px;
}

.woocommerce form .form-row::after, .woocommerce form .form-row::before, .woocommerce-page form .form-row::after, .woocommerce-page form .form-row::before {
	display: none;
}

.woocommerce form .form-row:not(.place-order) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	margin: 0 0 15px;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
	width: 100%;
}

.woocommerce form .form-row .optional {
	display: none;
}

#order_review_heading {
	margin-top: 0;
	font-weight: 500;
	font-size: 22px;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	display: flex;
	justify-content: space-between;
	background: transparent;
	border-radius: 0;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
	border-bottom: 0;
	border-left: 1px solid #FCC12C;
}

#add_payment_method #payment ul.payment_methods li, .woocommerce-cart #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
	margin-left: 20px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background: #FCC12C;
	color: #1E1E1E;
	font-size: 15px;
	width: 100%;
	padding: 15px;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background: #FCC12C;
	color: #1E1E1E;
}

#add_payment_method #payment ul.payment_methods::before, .woocommerce-cart #payment ul.payment_methods::before, .woocommerce-checkout #payment ul.payment_methods::before {
	content: 'Способ оплаты';
	display: block;
	font-weight: 500;
	font-size: 20px;
}

#order_comments {
	min-height: 150px;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	color: #FFFFFF;
}

.woocommerce-error {
	background-color: #261E1E;
}

.woocommerce-message {
	background-color: #22241B;
}

#billing_apartment_field, #billing_entrance_field, #billing_floor_field {
	display: inline-flex;
	flex-direction: column;
}

#billing_first_name_field {
	grid-column: 1/2;
}

#billing_phone_field {
	grid-column: 2/3;
}

#billing_email_field {
	grid-column: 3/4;
}

#billing_address_1_field {
	grid-column: 1/4;
}

#billing_apartment_field {
	grid-column: 1/2;
}

#billing_entrance_field {
	grid-column: 2/3;
}

#billing_floor_field {
	grid-column: 3/4;
}

.woocommerce-billing-fields__field-wrapper {
	display: grid;
	column-gap: 25px;
}

.woocommerce-order-received .woocommerce_cart {
	display: none;
}

.checkout_coupon {
	display: inline-flex;
	margin-bottom: 20px;
	border-radius: 3px;
	overflow: hidden;
}

#coupon_code_fake, .checkout_coupon button[name="apply_coupon"] {
	border-radius: 0;
}

.checkout_coupon button[name="apply_coupon"] {
	color: #1E1E1E;
	font-size: 15px;
}

#coupon_code_fake:focus-visible {
	outline: none;
}

.woocommerce-form-coupon-toggle {
	display: none;
}

@media (min-width: 1770px) {
	.woocommerce .products ul, .woocommerce ul.products {
		grid-template-columns: repeat(5, 1fr);
	}
}