html {
	scroll-behavior: smooth;
}

h1 {
	font-weight: 500;
}

a {
	color: #FFF;
}

body {
	padding: 0 90px;
	background-color: #1A1A1A;
	color: #FFFFFF;
	font-family: Roboto;
}

main {
	min-height: calc(100vh - 452px);
}

body.admin-bar main {
	min-height: calc(100vh - 452px - 32px);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 20px 0;
}

.custom-logo-link {
	display: flex;
}

img.custom-logo {
	height: 63px;
	width: auto;
}

.products-container {
	padding-top: 76px;
	margin-top: -76px;
}

.products-container h1, .woocommerce > h1 {
	margin: 40px 0;
	text-align: center;

	& > a {
		text-decoration: none;
	}
}

.woocommerce div.product form.cart div.quantity {
	display: none;
}

.woocommerce div.product form.cart .button {
	width: unset;
	border: #FCC12C 1px solid;
	background: #3c3116;
	color: #ffffff;
	font-weight: 500;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	float: none;
	width: 100%;
	padding-top: 50px;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
	float: none;
	width: 100%;
}

.woocommerce div.product {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 50px;
}

.woocommerce .products ul, .woocommerce ul.products {
	margin: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	float: unset;
	width: unset;
	margin: 0;

	background: #2B2B2B;
	// box-shadow: 0px 4px 8px 4px rgb(0, 0, 0 / 4%);
	border-radius: 25px;
	padding: 25px 20px;
	box-sizing: border-box;

	margin-top: 160px;
}

.woocommerce .products ul::after, .woocommerce .products ul::before, .woocommerce ul.products::after, .woocommerce ul.products::before {
	display: none;
}

.woocommerce ul.products li.product a {
	color: #FFFFFF;
}

.woocommerce-loop-product__link {
	display: grid;
	height: 100%;
}

.woocommerce ul.products li.product a img {
	margin: auto;
	margin-top: -160px;
	border-radius: 100%;
	width: 250px;
}

.wp-post-image {
	border-radius: 100%;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
	font-size: 20px;
	padding: 5px 0;
	margin-top: 10px;
}

.woocommerce ul.products li.product .woocommerce-loop-product__content, .woocommerce ul.products li.product .woocommerce-loop-product__weight {
	font-size: 14px;
	font-weight: 400;
}

.woocommerce ul.products li.product .price {
	color: #FFFFFF;
	margin-bottom: 0;
	margin-top: 15px;

	font-size: 24px;
	font-weight: 700;

	width: 50%;
	float: left;
}

.woocommerce ul.products li.product .button {
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	float: right;
	margin: 0;

	position: relative;
	bottom: 50px;
	margin-bottom: -12px;

	border-radius: 11px;

	&:not(.added)::before {
		content: '';
	
		position: absolute;
		display: block;
		width: 23px;
		height: 23px;
	
		background-image: $cart-image;
		background-size: contain;
		background-repeat: no-repeat;
	
		&.added {
			display: none;
		}
	}
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	background: #FCC12C;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.woocommerce #respond input#submit.loading, .woocommerce a.button.loading, .woocommerce button.button.loading, .woocommerce input.button.loading {
	padding-right: 10px;
}

.woocommerce #respond input#submit.loading::after, .woocommerce a.button.loading::after, .woocommerce button.button.loading::after, .woocommerce input.button.loading::after {
	top: 16px;
	color: #2b2b2b;
}

.woocommerce #respond input#submit.added::before, .woocommerce a.button.added::before, .woocommerce button.button.added::before, .woocommerce input.button.added::before {
	display: none;
}

.woocommerce #respond input#submit.added::after, .woocommerce a.button.added::after, .woocommerce button.button.added::after, .woocommerce input.button.added::after {
	margin: 0;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .scroll-to-top:hover {
	background-color: #FCC12C;
	filter: brightness(1.1);
}

footer {
	margin-top: 150px;
}

.sub-footer {
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;

	.company {
		display: flex;
		gap: 5px;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
}

.woocommerce ul.products li.product .woocommerce-placeholder {
	border: none;
}

.scroll-to-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 10px;
	z-index: 100;
	border: none;
	outline: none;
	background-color: #FCC12C;
	color: #FFFFFF;
	cursor: pointer;
	border-radius: 10px;

	width: 30px;
	height: 30px;
}

.d-none {
	display: none !important;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	float: unset;
	width: unset;
}

h1:empty, h3:empty {
	display: none;
}

.woocommerce #content table.cart td.actions, .woocommerce table.cart td.actions, .woocommerce-page #content table.cart td.actions, .woocommerce-page table.cart td.actions {
	display: none;
}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
	width: 120px;
}

.checkout {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: minmax(0, max-content) minmax(0, max-content);
	grid-column-gap: 70px;
	grid-template-areas:
		'order_errors order_errors'
		'customer_details order_review_heading'
		'customer_details order_review';
}

.woocommerce-NoticeGroup-checkout {
	grid-area: order_errors;
}

#order_review_heading {
	grid-area: order_review_heading;
}

#customer_details {
	grid-area: customer_details;
	max-width: 750px;
}

#order_review {
	grid-area: order_review;
}

input, textarea {
	background-color: #2A2A2A;
	color: #FFFFFF;
	border: 1px solid #2A2A2A;
	// border-left: 1px solid #2A2A2A;
	border-radius: 4px;
	padding: 10px 15px;
	transition: border-left .2s;
}

input:focus, textarea:focus {
	border-left: 1px solid #FCC12C;
}

.woocommerce .quantity .qty {
	padding: 5px 3px;
}

.woocommerce form .form-row::after, .woocommerce form .form-row::before, .woocommerce-page form .form-row::after, .woocommerce-page form .form-row::before {
	display: none;
}

.woocommerce form .form-row:not(.place-order) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0;
	margin: 0 0 15px;
}

.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
	width: 100%;
}

.woocommerce form .form-row .optional {
	display: none;
}

#order_review_heading {
	margin-top: 0;
	font-weight: 500;
	font-size: 22px;
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
	display: flex;
	justify-content: space-between;
	background: transparent;
	border-radius: 0;
}

#add_payment_method #payment ul.payment_methods, .woocommerce-cart #payment ul.payment_methods, .woocommerce-checkout #payment ul.payment_methods {
	border-bottom: 0;
	border-left: 1px solid #FCC12C;
}

#add_payment_method #payment ul.payment_methods li, .woocommerce-cart #payment ul.payment_methods li, .woocommerce-checkout #payment ul.payment_methods li {
	margin-left: 20px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	background: #FCC12C;
	color: #1E1E1E;
	font-size: 15px;
	width: 100%;
	padding: 15px;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background: #FCC12C;
	color: #1E1E1E;
}

#add_payment_method #payment ul.payment_methods::before, .woocommerce-cart #payment ul.payment_methods::before, .woocommerce-checkout #payment ul.payment_methods::before {
	content: 'Способ оплаты';
	display: block;
	font-weight: 500;
	font-size: 20px;
}

#order_comments {
	min-height: 150px;
}

.woocommerce-error, .woocommerce-info, .woocommerce-message {
	color: #FFFFFF;
}

.woocommerce-error {
	background-color: #261E1E;
}

.woocommerce-message {
	background-color: #22241B;
}

#billing_apartment_field, #billing_entrance_field, #billing_floor_field {
	display: inline-flex;
	flex-direction: column;
}

#billing_first_name_field {
	grid-column: 1/2;
}

#billing_phone_field {
	grid-column: 2/3;
}

#billing_email_field {
	grid-column: 3/4;
}

#billing_address_1_field {
	grid-column: 1/4;
}

#billing_apartment_field {
	grid-column: 1/2;
}

#billing_entrance_field {
	grid-column: 2/3;
}

#billing_floor_field {
	grid-column: 3/4;
}

.woocommerce-billing-fields__field-wrapper {
	display: grid;
	column-gap: 25px;
}

.woocommerce-order-received .woocommerce_cart {
	display: none;
}

@media (min-width: 1770px) {
	.woocommerce .products ul, .woocommerce ul.products {
		grid-template-columns: repeat(5, 1fr);
	}
}

@media (max-width: 1300px) {
	.woocommerce .products ul, .woocommerce ul.products {
		grid-template-columns: repeat(3, 1fr);
	}

	.sub-footer {
		justify-content: center;
	}
}

@media (max-width: 1080px) {
	.woocommerce .products ul, .woocommerce ul.products {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
		width: 100%;
		float: unset;
		clear: unset;
		margin: 100px 0 0 0;
	}
}

@media (max-width: 680px) {
	.woocommerce .products ul, .woocommerce ul.products {
		grid-template-columns: repeat(1, 1fr);
	}

	.menu-korzina-container, .menu-categories-container {
		top: 20px !important;
	}

	.admin-bar {
		.menu-korzina-container, .menu-categories-container {
			top: calc(20px + 32px) !important;
		}
	}

	body {
		padding: 0 50px;
	}
}

@media (max-width: 630px) {
	.menu-glavnoe-menyu-container {
		> .menu {
			display: grid !important;
			grid-template-columns: 1fr 1fr !important;
			gap: 10px !important;
		}
	}

	footer .menu-group {
		display: grid !important;
		gap: 50px !important;
		justify-content: center !important;
	}

	.woocommerce ul.products li.product a img {
		width: 150px;
		margin-top: -120px;
	}
}

@media (max-width: 900px) {
	header {
		display: grid;
		justify-content: center;
		justify-items: center;
		gap: 35px;
	}
}

.menu-categories-container, .menu-korzina-container {
	z-index: 100;
}